body {
   background-color: black;
   color: white;
   text-align: center;
   padding: 20px;
   justify-content: center;
   align-items: center;
   box-sizing: border-box;
}

p{font-size: 24px;}

div {
   grid-area: content;
   margin-bottom: 30px;
}

a {
   border-radius: 5px;
   border: 2px solid darkgrey;
   padding: 5px;
   color: white;
}

a:hover {
   background-color: darkgrey;
   color: black;
   text-decoration: none;
}

figcaption {
   font-style: italic;
   font-size: 32px;
   margin-top: 5px;
}

section {
   border: 2.5px solid grey;
   padding: 20px;
   min-height: 350px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-start;
   gap: 24px;
}

.screenshot {
   height: auto;
   width: auto;
   max-width: 1000px;
   margin: 20px;
   object-fit: contain;
}

.headshot {
   grid-area: img;
   height: auto;
   width: 25%;
   margin: 0 auto;
}

.grid-header {
   grid-area: header;
   height: auto;
   width: 100%;
   align-items: center;
   justify-content: center;
}

.grid-container {
   display: grid;
   grid-template-areas:
      "header"
      "img"
      "content"
      "footer";
   grid-template-columns: 1fr;
   gap: 5px;
   text-align: center;
   padding: 10px;
}

.grid-img {
   grid-area: img;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
   margin: 0 auto;
}

@media only screen and (max-width:1250px) {

   .grid-container {
      grid-template-columns: 1fr;
      grid-template-areas:
         "header"
         "img"
         "text"
         "content"
         "table"
         "footer";

   }


   .grid-header {
      height: auto;
      width: 100%;
   }

   .grid-img {
      grid-area: img;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
   }

   .grid-text {
      height: auto;
   }

   .grid-content {
      width: 100%;
   }

   p {font-size: 18px;}

   section {
      min-height: unset;
      padding: 10px;
      width: 100%;
      flex-direction: column;
      border: none;
      align-items: center;
      justify-content: center;
      text-align: center;
   }

   .headshot {
      grid-area: img;
      height: auto;
      width: 50%;
      margin: 0 auto;
   }

   .screenshot {
      height: auto;
      width: 75%;
      margin: 0px;
   }

}